.footer-container {
  background-image: linear-gradient(
    -20deg,
    #ff3297 0%,
    #ff2a54 100%
  ) !important;
}

.btn-footer {
  font-size: 18px !important;
}

.icon-bt-footer {
  width: 30px !important;
}
