.btn-hero-btn {
  background-image: linear-gradient(
    -20deg,
    #ff3297 0%,
    #ff2a54 100%
  ) !important;
}

.texto-hero {
  background: #ff3297;
  background: linear-gradient(to right, #ff3297 0%, #ff2a54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-btn-hero {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
