@import '../App.css';

.btn-statistics {
  border: 2px solid var(--black);
  width: 350px;
  position: relative;
  left: 440px;
  top: 20px;
  font-size: 13px !important;
  color: rgb(106, 105, 105) !important;
  background-color: transparent !important;
}

.icon-btn {
  color: black;
}
